body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #8686AC, #272757);
    padding: 10px;
    width: 320px;
}

.container {
    background: #fff;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
    text-align: center;
}

h1 {

    font-size: 24px;
    color: #0F0E47;
    text-shadow: 1px 1px 3px #00000033;
    margin-bottom: 15px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
}
#queryInput{
    width: 92%;
}

input, select {
    border: 2px solid #8686AC;
    transition: border 0.3s;
}

input:focus, select:focus {
    border-color: #272757;
    outline: none;
}

button {
    background: linear-gradient(90deg,  #505081,#272757);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

#results, #trending {
    margin-top: 10px;
    max-height: 220px;
    overflow-y: auto;
    text-align: left;
    background: #f5f5f5;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 13px;
}

#trending strong {
    color: #272757;
}
